body {
  background-color: $flanet-background-color;
  background-image: url("../../assets/star3.png");
  background-repeat: no-repeat;
}

.blockCoding {
  font-family: $spoqa-font;
  background-color: $flanet-light-gray;
  border-radius: 8px;
  height: 84vh;
  width: 96%;
  margin: 1% 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonArea {
  width: 47%;
  display: flex;
  justify-content: space-evenly;
  margin: 1.5% 1% 0.5% 0%;
  height: 6%;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: $flanet-white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    width: 22%;
    cursor: pointer;
    font-weight: bold;
  }

  .executeButton,
  .storeButton,
  .downloadButton {
    background-color: $flanet-yellow;

    &:hover {
      transition-duration: 0.3s;
      opacity: 0.5;
    }

    &:active {
      background-color: #fc7f03;
      box-shadow: 0 5px #666;
      transform: translateY(2px);
    }
  }

  .resetButton {
    background-color: $flanet-red;

    &:hover {
      transition-duration: 0.3s;
      opacity: 0.5;
    }

    &:active {
      background-color: #a91b0d;
      box-shadow: 0 5px #666;
      transform: translateY(2px);
    }
  }
}

.loading {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6%;
  margin-top: 1.5%;

  p {
    margin-top: 4%;
    float: left;
    font-weight: bold;
    color: $flanet-blue;
    font-size: 20px;
    transition: text-shadow 4s 1s;
    text-shadow: 0 0 0.5em, 0 0 0.5em #84daed;
  }

  .blinking {
    -webkit-animation: blink 1.5s ease-in-out infinite alternate;
    -moz-animation: blink 1.5s ease-in-out infinite alternate;
    animation: blink 1.5s ease-in-out infinite alternate;
  }
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.welcome {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6%;
  margin-top: 1.5%;

  p {
    float: left;
    font-weight: bold;
    color: #fbfdfe;
    font-size: 20px;
    transition: text-shadow 4s 1s;
    text-shadow: 0 0 0.5em, 0 0 0.5em $flanet-blue;
  }
}

.sk-fading-circle {
  float: left;
  margin: 2% 0%;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $flanet-blue;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.blocklyDiv {
  height: 84%;
  width: 47%;
  margin: 0.5%;

  .blocklyToolboxDiv {
    background-color: $flanet-gray;
  }

  .injectionDiv {
    border-radius: 10px;
  }

  .blocklyTreeSelected {
    background-color: $flanet-deep-gray !important;
    span {
      font-weight: bold;
    }
  }
}

.visualizationArea {
  display: grid;
  height: 84%;
  width: 47%;
  margin: 0.5%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px;

  input.nav {
    display: none;
  }

  .page {
    height: 100%;
    max-height: 100%;
    background-color: $flanet-white;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 3;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .page-contents {
      height: 100%;
    }

    .displayCode {
      padding-right: 15px;
      height: 710px;
      max-height: 100%;
      background-color: $flanet-white;
      color: $flanet-black;
      font-size: 15px;
      line-height: 25px;
      white-space: pre-wrap;
      word-break: break-all;
      text-align: left;
    }

    .page-contents > * {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.2s, transform 0.2s;

      @for $c from 1 through 20 {
        &:nth-child(#{$c}) {
          transition-delay: 0.2s + ($c * 0.3s);
        }
      }
    }
  }

  input[type="radio"] + .page {
    transition: transform 0.2s;
    transform: translateX(100%);
  }

  input[type="radio"]:checked + .page {
    transform: translateX(0%);

    .page-contents > * {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

label.nav {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 2px solid $flanet-green;
  background: $flanet-gray;
  transition: background 0.4s, padding-left 0.2s;
  padding-left: 0;

  input[type="radio"]:checked + .page + & {
    background: $flanet-green;
    color: #ffffff;

    span {
      font-weight: bold;
    }
  }

  span {
    padding-left: 0px;
    position: relative;
  }
}
////@at-root
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.popover {
  z-index: 2060 !important;
  max-width: 500px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.modal > section {
  // 드래그 방지
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  width: 100%;
  max-width: 40%;
  // max-width: 600px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}

.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}

.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  height: 80vh;
  overflow-y: auto;
}

// footer 수정
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}

.modal > section > footer span {
  padding: 12px 16px;
  text-align: lef;
}

.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #0275d8;
  border-radius: 5px;
  font-size: 13px;
}

.modal > section > footer .close {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}

// #6c757d 회색
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.foot-number {
  opacity: 0.5;
}

.disabled {
  opacity: 0.6;
  cursor: default !important;
}

.modal > section > main::-webkit-scrollbar {
  width: 10px;
}

.modal > section > main::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.modal > section > main::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

// !important;
.tutorial-img-1-1 {
  max-width: 100%;
  // max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.3rem;
  display: block;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
}

.tutorial-img-1-3 {
  max-width: 85%;
  // max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.3rem;
  display: block;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
}

.main-title {
  text-align: center !important;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.sub-title {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.content {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.h3-none {
  font-size: 1.17em;
}

.modal-size-1 {
  width: 100% !important;
  max-width: 20% !important;
}
.modal-size-2 {
  text-align: center;
  display: block;
  height: 7vh !important;
}

.rm-margin {
  margin: 6px !important;
}
